<%- include('header'); -%>

<section id="hero" class="d-flex align-items-center header1">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>upQuarium Blog, ipsum dolor.</h1>
        <h2>
          upQuarium Blog  ipsum dolor sit amet consectetur adipisicing elit.
          Neque pariatur distinctio accusamus impedit error ducimus, qui labore
          dolorem inventore laboriosam.
        </h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/blog2.png" class="img-fluid animated mob-anim" alt="" />
      </div>
    </div>
  </div>
</section>
<!--- End Hero -->

<!-- -Blog Card Section -->

    <div class="content">
      <div class="container">
        <div class="row">
          <% for (let i = 0; i < 9 && i < blogs.length; i++) { %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a
                class="img-card"
                href="/single?id=<%=blogs[i]._id%>"
              >
                <img
                <img src="data:<%= blogs[i].image.contentType %>;base64, <%= blogs[i].image.data.toString('base64') %>" alt="Blog Image">
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a
                    href="/single?id=<%=blogs[i]._id%>"
                  >
                  <%=blogs[i].title%>
                  </a>
                </h4>
                <p class="">
                  <%=blogs[i].subject%>
                </p>
              </div>
              <div class="card-read-more">
                <a
                  href="/single?id=<%=blogs[i]._id%>"
                  class="btn btn-link btn-block"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pagination Links -->
<div class="container">

  <div class="pagination d-flex justify-content-center align-items-center mt-4 mb-4">
    <% if (totalBlogs > pageSize) { %>
      <% if (currentPage > 1) { %>
        <a href="/blog?page=<%= currentPage - 1 %>" class="btn btn-primary">Previous</a>
      <% } %>
      <% if (currentPage * pageSize < totalBlogs) { %>
        <a href="/blog?page=<%= currentPage + 1 %>" class="btn btn-primary">Next</a>
      <% } %>
    <% } %>
  </div>

</div>
<!-- -Blog Card Section -->
<%- include('footer'); -%>
